@import "variable";
@import "mixins";
/* http://2048game.com/ */

.board2048 {
    background: #bbada0;
    box-sizing: border-box;
    border-radius: 6px;
    touch-action: none;
    width: $board2048-sm * 1px;
    height: $board2048-sm * 1px;
    @include gt-sm {
        width: $board2048-lg * 1px;
        height: $board2048-lg * 1px;
    }
}

@function calc-cell-width($size, $width, $gutter) {
    @return round(($width - ($size+1)*$gutter) / $size)*1px;
}

@function calc-cell-margin($size, $width, $gutter, $position) {
    $cell-width: calc-cell-width($size, $width, $gutter);
    @return round(($cell-width+$gutter) * $position);
}

$sizes: ( 3, 4, 5, 6, 8);
@each $size in $sizes {
    .board--#{$size} {
        margin: auto;
        padding: 15px;
        .board__cell {
            width: calc-cell-width($size, $board2048-sm, 15);
            height: calc-cell-width($size, $board2048-sm, 15);
            @include gt-sm {
                width: calc-cell-width($size, $board2048-lg, 15);
                height: calc-cell-width($size, $board2048-lg, 15);
            }
        }
        .board__tile {
            width: calc-cell-width($size, $board2048-sm, 15);
            height: calc-cell-width($size, $board2048-sm, 15);
            font-size: calc-cell-width($size, $board2048-sm, 15)/2;
            line-height: calc-cell-width($size, $board2048-sm, 15);
            @include gt-sm {
                width: calc-cell-width($size, $board2048-lg, 15);
                height: calc-cell-width($size, $board2048-lg, 15);
                font-size: calc-cell-width($size, $board2048-lg, 15)/2;
                line-height: calc-cell-width($size, $board2048-lg, 15);
            }
        }
        @for $i from 0 through $size {
            @for $j from 0 through $size {
                .board__cell--#{$i}-#{$j} {
                    margin-left: calc-cell-margin($size, $board2048-sm, 15, $i);
                    margin-top: calc-cell-margin($size, $board2048-sm, 15, $j);
                    @include gt-sm {
                        margin-left: calc-cell-margin($size, $board2048-lg, 15, $i);
                        margin-top: calc-cell-margin($size, $board2048-lg, 15, $j);
                    }
                }
                .board__tile--#{$i}-#{$j} {
                    margin-left: calc-cell-margin($size, $board2048-sm, 15, $i);
                    margin-top: calc-cell-margin($size, $board2048-sm, 15, $j);
                    @include gt-sm {
                        margin-left: calc-cell-margin($size, $board2048-lg, 15, $i);
                        margin-top: calc-cell-margin($size, $board2048-lg, 15, $j);
                    }
                }
            }
        }
    }
}

.board__cell {
    border-radius: 3px;
    position: absolute;
    background-color: rgba(238, 228, 218, 0.35);
}

.board__tile {
    border-radius: 3px;
    position: absolute;
    text-align: center;
    transition: margin 0.3s ease, background-color 0.2s ease, z-index 0.2s ease;
}

.board__tile--2 {
    background-color: #eee4da;
    color: #776e65;
}

.board__tile--4 {
    background-color: #ede0c8;
    color: #776e65;
}

.board__tile--8 {
    background-color: #f2b179;
    color: #f9f6f2;
}

.board__tile--16 {
    background-color: #f59563;
    color: #f9f7f3;
}

.board__tile--32 {
    background-color: #f67c5f;
    color: #f9f6f2;
}

.board__tile--64 {
    background-color: #f65e3b;
    color: #f9f6f2;
}

.board__tile--max {
    background-color: #edcf72;
    color: #f9f6f2;
}